.course-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 40px;
}

.course-card {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 80%;
    text-decoration: none;
    gap: 20px;
    align-items: center;
}

.course-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.course-img {
    width: 200px;
}

.course-head {
    color: white;

}

.course-title {
    background-color: var(--secondary-color);
    border-radius: 5px;
    width: fit-content;
    padding: 0px 20px;
    color: white;
}

.tombol{
    color: #2F2963;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    font-weight: 900;
    padding: 10px;
    width: 80px;
    text-align: center;
}

.tombol-materi{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    flex: 1 1 0%;
    padding-right: 40px;
    padding-bottom: 35px;
}

.tombol:hover{
    background-color: #2F2963;
    color: white;
}