<body>
    <header>
        <div class="navbar">
            <a href="../public/home.php" style="text-decoration: none;">
                <div class="logo">
                    <img class="logo-icon" src="../assets/icons/Logo.png" alt="logo">
                </div>
            </a>
            <div class="nav">
                <a class="nav-button" href="#">Course
                    <ul class="dropdown">
                        <li><a href="../public/course-sd.php">SD</a></li>
                        <li><a href="../public/course-smp.php">SMP</a></li>
                        <li><a href="../public/course-sma-ipa.php">SMA IPA</a></li>
                        <li><a href="../public/course-sma-ips.php">SMA IPS</a></li>
                        <li><a href="../public/utbk.php">UTBK</a></li>
                    </ul>
                    
                </a>
                <a class="nav-button" href="#">Event</a>
                <a class="nav-button" href="#">Layanan</a>
                <a class="profile" href="../public/profile.php"><img class="user-icon" src="../assets/icons/user.png" alt=""></a>
            </div>
        </div>
    </header>
</body>

</html>